<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cadastro.css' %}" media="screen" />
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="left-panel">
                <h1>Bem-<span>Vindo</span><span class="white">!</span></h1>
                <p>Acesse agora sua conta empresarial!</p>
                <button onclick="window.location.href='{% url 'Login' %}';">ENTRAR</button>
                <img src="{% static 'css/img/_4f0175fe-f321-4cb1-a2e7-1e5bb5b34891-removebg-preview 2.png' %}" alt="Logo">
            </div>
                <div class="right-panel">
                    <form action="{% url 'Cadastro' %}" method="POST">
                        {% csrf_token %}
                        <h2>CADASTRO</h2>
                        <p>Preencha seus dados</p>

                        {% if messages %}
                        {% for message in messages %}
                            <script>
                                alert("{{ message }}");
                            </script>
                        {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <input type="text" id="name" name="name" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input type="text" id="matricula" name="matricula" placeholder="Matrícula">
                        </div>
                        <div class="form-group">
                            <input type="email" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="password" placeholder="Senha">
                        </div>
                        <div class="form-group">
                            <button>CADASTRAR</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>