<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Picking - Dados da Empresa</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dadosDaEmpresa.css' %}" media="screen" />
</head>
<body>
    <div class="sidebar">
        <h1>SMART <span style="color: #87A5CB;">PICKING</span></h1>
        <h2>Menu</h2>
        <ul>
            <li> <a  onclick="window.location.href='{% url 'dados' %}';" href="#" > Início </a> </li>
            <li> <a onclick="window.location.href='{% url 'cadItens' %}';" href="#" > Cadastrar itens </a> </li>
            <li> <a onclick="window.location.href='{% url 'retItens' %}';" href= "#" > Retirar itens </a> </li>
            <li> <a onclick="window.location.href='{% url 'VizEtoque' %}';" href= "#" > Visualizar estoque </a> </li>
        </ul>
        <div class="logo-container">
            <img src="{% static 'css/img/_4f0175fe-f321-4cb1-a2e7-1e5bb5b34891-removebg-preview 2.png' %}" alt="Logo do Avião">
        </div>
    </div>
    <div class="main-content">
        <h1>Dados da <span>Empresa</span></h1>
        <p>Acesse aqui os dados da empresa, onde você pode cadastrar, retirar e visualizar.</p>
    </div>
</body>
</html>

